html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

@font-face {
    font-family: 'PTRootUIWebLight';
    src:
        url('../font/PT-Root-UI_Light.woff2') format('woff2'),
        url('../font/PT-Root-UI_Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PTRootUIWebRegular';
    src:
        url('../font/PT-Root-UI_Regular.woff2') format('woff2'),
        url('../font/PT-Root-UI_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PTRootUIWebMedium';
    src:
        url('../font/PT-Root-UI_Medium.woff2') format('woff2'),
        url('../font/PT-Root-UI_Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PTRootUIWebBold';
    src:
        url('../font/PT-Root-UI_Bold.woff2') format('woff2'),
        url('../font/PT-Root-UI_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    min-width: 320px;
    font-family: 'PTRootUIWebRegular', 'PT Root UI', sans-serif;
    font-weight: 400;
}

body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
    margin: 0;
}

h1, h2, h3, h4,
button, input, label {
    line-height: 1.1;
}

h1, h2,
h3, h4 {
    text-wrap: balance;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input, button,
textarea, select {
    font: inherit;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.container {
    max-width: 100%;
}

:root {}